html {
  overflow: hidden;
  overscroll-behavior: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

body {
  background-color: #f2f2f2;
  touch-action: none;
}

#gameDiv::backdrop {
    background-color: #f2f2f2;
}

#circle {
  cursor:pointer;
}
#message {
  font-size: 2em;
  vertical-align: bottom;
  color: #f27457;
  font-weight: bolder;
  cursor:pointer;
}

.progressBarBackground {
  width: 90%;
  margin: 10px auto 0 auto;
  height: 22px;
  background-color: #efd0d0;
  
}
.flashAnimation {
  animation: flashBackground 0.5s infinite;
}

@keyframes flashBackground {
  0% {
    background-color: #efd0d0;
  }
  50% {
    background-color: #d05656;
  }
  100% {
    background-color: #efd0d0;
  }
}

.progressBar {
  height: 100%;
  transform-origin: left center;
  background-color: #d05656;
  animation: roundtime 60s linear forwards;
}

@keyframes roundtime {
  to {
    transform: scaleX(0);
  }
}

#actionMessage{
  font-size: 5em;
    color: #f27457;
}

.animateFill {
  animation: fillAnimation ease-in forwards;
}

@keyframes fillAnimation {
  to {
    stroke-dashoffset: 0;
  }
}



.viewbox {
  height: calc(100dvh - 80px);
  margin: 0 auto;
}

.paused {
  animation-play-state: paused;
}

#actionBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

#startButton {
  display: inline-block;
  background-color: #f2d785;
  padding: 15px 40px;
  border: none;
  border-radius: 30px;
  font-size: 60px;
  text-decoration: none;
  text-transform: uppercase;
  color: #f27457;
  font-weight: bolder;
  box-shadow: 0 3px 0 #f27457;
  cursor: pointer;
  transition: all 100ms linear;
}

#startButton:hover {
  transform: translateY(-4px);
  box-shadow: 0 7px 0 #f27457;
}

#startButton:focus {
  outline: 0;
}

.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  visibility: hidden;
  display: none !important;
}

.block {
  display: block !important;
}

.svg-group {
  display: inline-block;
  max-height: 100%;
}


/* Original CSS */

#header {
  height: auto; /* Change this to auto so the height adjusts based on content */
}

/* Add this media query to adjust the header and its contents on smaller screens */
@media screen and (max-width: 768px) {

  /* Example adjustments for contents within the header */
  #progressBarBox {
    margin: 5px auto 0 auto;
    height: 15px; /* Adjust height */
  }

  #message {
    font-size: 1.5em; /* Adjust font size */
  }
  /* Adjust other elements within the header as needed */
}





.overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  background-image: url('your-image-url.jpg');
  background-position: center;
  background-repeat: no-repeat;
  animation-name: scale-in;
  animation-duration: 3s;
  transform: scale(0);
  transform-origin: center;
}

@keyframes scale-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}


body {
  margin: 0;
}

#gameContainer {
  /* height: 100vh; */
  box-sizing: border-box;
  display: flex;
  position:relative;
  overflow: hidden;
  transition: opacity 500ms;
}
 
.balloon {
  top: 110%;
  height: 125px;
  width: 105px;
  border-radius: 75% 75% 70% 70%;
  position: absolute;
  animation: float 3s infinite linear, shake 3s infinite ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.balloon span{
  font-size: 4em;

}

.balloon:before {
  content: "";
  height: 75px;
  width: 1px;
  padding: 1px;
  background-color: #FDFD96;
  display: block;
  position: absolute;
  top: 125px;
  left: 0;
  right: 0;
  margin: auto;
}

.balloon:after {
    content: "▲";
    text-align: center;
    display: block;
    position: absolute;
    color: inherit;
    top: 120px;
    left: 0;
    right: 0;
    margin: auto;
}

@keyframes float {
  0% { top: 110%; }
  100% { top: -10%; }
}

@keyframes shake {
  /* 0%, 100% { transform: translateX(0); }
  50% { transform: translateX(40px); } */
}

.chosenLetter{
  z-index:9999;
}