html {
  overflow: hidden;
  overscroll-behavior: none;
}

body {
  background-color: #f2f2f2;
  touch-action: none;
}


#circle {
  cursor:pointer;
}
#message {
  font-size: 2em;
  vertical-align: bottom;
  color: #f27457;
  font-weight: bolder;
  cursor:pointer;
}

.progressBarBackground {
  width: 90%;
  margin: 10px auto 0 auto;
  height: 22px;
  background-color: #efd0d0;
  
}
.flashAnimation {
  animation: flashBackground 0.5s infinite; 
  transition: background-color 0.5s; 
}
@keyframes flashBackground {
  0% {
    background-color: #efd0d0;
  }
  50% {
    background-color: #d05656;
  }
  100% {
    background-color: #efd0d0;
  }
}
.blinkdiv {
    height: 100px;
    background-color: black;
    animation-name: blackWhite;  
    animation-iteration-count: infinite;  
    animation-duration: 2s; 
} 

.progressBar {
  height: 100%;
  transform-origin: left center;
  background-color: #d05656;
  animation: roundtime calc(60s) linear forwards;
}

#actionMessage{
  font-size: 5em;
    color: #f27457;
}

@keyframes roundtime {
  to {
    transform: scaleX(0);
  }
}

@keyframes fillAnimation {
  to {
    stroke-dashoffset: 0;
  }
}

.animateFill {
  animation: fillAnimation ease-in forwards;
}

.viewbox {
  height: calc(100dvh - 80px);
  margin: 0 auto;
}

.paused {
  animation-play-state: paused;
}

#actionBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

#startButton {
  display: inline-block;
  background-color: #f2d785;
  padding: 15px 40px;
  border: none;
  border-radius: 30px;
  font-size: 60px;
  text-decoration: none;
  text-transform: uppercase;
  color: #f27457;
  font-weight: bolder;
  box-shadow: 0 3px 0 #f27457;
  cursor: pointer;
  transition: all 100ms linear;
}

#startButton:hover {
  transform: translateY(-4px);
  box-shadow: 0 7px 0 #f27457;
}

#startButton:focus {
  outline: 0;
}

.svg-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hidden {
  visibility: hidden;
  display: none !important;
}

.svg-group {
  display: inline-block;
  max-height: 100%;
}


/* Original CSS */

#header {
  height: auto; /* Change this to auto so the height adjusts based on content */
}

/* Add this media query to adjust the header and its contents on smaller screens */
@media screen and (max-width: 768px) {

  /* Example adjustments for contents within the header */
  #progressBarBox {
    margin: 5px auto 0 auto;
    height: 15px; /* Adjust height */
  }

  #message {
    font-size: 1.5em; /* Adjust font size */
  }
  /* Adjust other elements within the header as needed */
}





.overlay {
  display:none;
  width: 100%;
  height: 100%;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  background-image: url('https://picsum.photos/500/500');
  background-position: center;
  background-repeat: no-repeat;
  animation-name: scale-in;
  animation-duration: 3s;
  background-size: 0px;
}

@keyframes scale-in {
  0% {
    background-size: 0px;
  }
  100% {
    background-size: 80%;
  }
} 